@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      height: 100%;
      background: #1C8EF9 !important;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 450px;
      background-color: #fff;
      padding: 15px;
      border-radius: 5px;
    }
  }